@page "/update/{id}"
@using Models

@inject CompaniesBlazorApp.Repository.ICompanyRepository CompanyRepository;
@inject NavigationManager NavigationManager;

<h1>Atualizar Empresa</h1>

<EditForm Model="company" OnValidSubmit="UpdateCompany">
    <div class="form-group mb-3">
        <label for="companyName">Nome</label>
        <InputText @bind-Value="company.Name" class="form-control" id="companyName"></InputText>
    </div>

    <div class="form-group mb-3">
        <label for="companyPhone">Telefone</label>
        <InputText @bind-Value="company.Phone" class="form-control" id="companyPhone"></InputText>
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />

    <button class="btn btn-success" type="submit">Salvar</button>

</EditForm>

@code 
{
    Company company = new();
    [Parameter] public string id {get; set;}

    protected override async Task OnInitializedAsync()
    {
        company = await CompanyRepository.GetById(Guid.Parse(id));
    }

    

    async Task UpdateCompany()
    {
        await CompanyRepository.Update(company);

        NavigationManager.NavigateTo("/");
    }
}